# Files to ignore

# Python specific files
.spyderworkspace
.spyderproject
*.pyc
*.so
*.o
*.vtu
*.pvd
*~

# ignore mesh files because they can be large
*.msh

# ignore log files
*.log

# saved numpy-arrays
*.npy
*.pdf
*.dat

# ignore test outputs
.results
.coverage

# Folders to ignore
docs/_build
meshes/
notebooks/
results/
build/
dist/
private/
experiments/
amfe.egg-info/
experiments/paper_icoev
.idea/
.spyproject/
.vscode/
# specific files to ignore
src/amfe/fortran/f90_elementmodule.c
.project
MANIFEST

*.hdf5
/.pydevproject
